SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
SPOTIFY_REDIRECT_URI="https://localhost"
PORT="8080"
ALLOW_ORIGIN="*"
ENCRYPTION_SECRET_KEY="supersecretstring"
DATABASE_URL="postgres://postgres:@localhost:5432/ctrlname"
